# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.manifest
*.spec

# Virtual environments
.venv/
venv/
.vscode
.ruff_cache/

# Service account credentials
*.json
*.pem
*.p12

# Env
.env