{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/index.css') }}">
<script src="{{ url_for('static', path='/js/index.js') }}"></script>
{% endblock %}

{% block content %}
<div id="video">
    <video id="video-content" src="{{ url_for('static', path='/videos/dallas.mp4')}}" autoplay muted loop playsinline></video>
    <div id="video-overlay">
        <span id="video-title">PREMIUM CAR RENTAL IN DALLAS</span>
        <button id="video-button">CHOOSE CAR</button>
    </div>
</div>
<div id="content">
    <h2>Categories</h2>
    <div id="car-categories">
        <a href="#car-category-gasoline"><img src="{{ url_for('static', path='/images/categories/gasoline.png') }}" class="car-category-icon"></a>
        <a href="#car-category-hybrid"><img src="{{ url_for('static', path='/images/categories/hybrid.png') }}" class="car-category-icon"></a>
        <a href="#car-category-minivan"><img src="{{ url_for('static', path='/images/categories/minivan.png') }}" class="car-category-icon"></a>
    </div>


    <div class="car-category-header">
        <h3 id="car-category-gasoline">Gasoline</h3>
        <div class="car-slider-controls">
            <button class="car-slider-button" onclick="scrollCars('left', 'gasoline')">‹</button>
            <button class="car-slider-button" onclick="scrollCars('right', 'gasoline')">›</button>
        </div>
        <button class="car-category-all">SEE ALL</button>
    </div>

    <div class="car-slider-container" id="gasoline-slider">
        <div class="car-slider">
            <div class="car-view">
                <div class="car-view-header">
                    <span class="car-view-name">Toyota</span>
                    <span class="car-view-price">100$/month</span>
                </div>
                <img class="car-view-image" src="https://firebasestorage.googleapis.com/v0/b/rentacar-qmt96z.appspot.com/o/users%2FWJDm3DRdBNWuHs5v8lHSS0IcGfk1%2Fuploads%2F1722427091055000_3.jpg?alt=media&token=67e674f4-e60c-4c16-98e8-72f31a9fab17">
                <div class="car-view-details">
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Year</span>
                        <span class="car-view-detail-value">2018</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Type</span>
                        <span class="car-view-detail-value">Gasoline</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Capacity</span>
                        <span class="car-view-detail-value">1.8L</span>
                    </div>
                </div>
            </div>
            <div class="car-view">
                <div class="car-view-header">
                    <span class="car-view-name">Toyota</span>
                    <span class="car-view-price">100$/month</span>
                </div>
                <img class="car-view-image" src="https://firebasestorage.googleapis.com/v0/b/rentacar-qmt96z.appspot.com/o/users%2FWJDm3DRdBNWuHs5v8lHSS0IcGfk1%2Fuploads%2F1722427091055000_3.jpg?alt=media&token=67e674f4-e60c-4c16-98e8-72f31a9fab17">
                <div class="car-view-details">
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Year</span>
                        <span class="car-view-detail-value">2018</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Type</span>
                        <span class="car-view-detail-value">Gasoline</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Capacity</span>
                        <span class="car-view-detail-value">1.8L</span>
                    </div>
                </div>
            </div>
            <div class="car-view">
                <div class="car-view-header">
                    <span class="car-view-name">Toyota</span>
                    <span class="car-view-price">100$/month</span>
                </div>
                <img class="car-view-image" src="https://firebasestorage.googleapis.com/v0/b/rentacar-qmt96z.appspot.com/o/users%2FWJDm3DRdBNWuHs5v8lHSS0IcGfk1%2Fuploads%2F1722427091055000_3.jpg?alt=media&token=67e674f4-e60c-4c16-98e8-72f31a9fab17">
                <div class="car-view-details">
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Year</span>
                        <span class="car-view-detail-value">2018</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Type</span>
                        <span class="car-view-detail-value">Gasoline</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Capacity</span>
                        <span class="car-view-detail-value">1.8L</span>
                    </div>
                </div>
            </div>
            <div class="car-view">
                <div class="car-view-header">
                    <span class="car-view-name">Toyota</span>
                    <span class="car-view-price">100$/month</span>
                </div>
                <img class="car-view-image" src="https://firebasestorage.googleapis.com/v0/b/rentacar-qmt96z.appspot.com/o/users%2FWJDm3DRdBNWuHs5v8lHSS0IcGfk1%2Fuploads%2F1722427091055000_3.jpg?alt=media&token=67e674f4-e60c-4c16-98e8-72f31a9fab17">
                <div class="car-view-details">
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Year</span>
                        <span class="car-view-detail-value">2018</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Type</span>
                        <span class="car-view-detail-value">Gasoline</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Capacity</span>
                        <span class="car-view-detail-value">1.8L</span>
                    </div>
                </div>
            </div>
            <div class="car-view">
                <div class="car-view-header">
                    <span class="car-view-name">Toyota</span>
                    <span class="car-view-price">100$/month</span>
                </div>
                <img class="car-view-image" src="https://firebasestorage.googleapis.com/v0/b/rentacar-qmt96z.appspot.com/o/users%2FWJDm3DRdBNWuHs5v8lHSS0IcGfk1%2Fuploads%2F1722427091055000_3.jpg?alt=media&token=67e674f4-e60c-4c16-98e8-72f31a9fab17">
                <div class="car-view-details">
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Year</span>
                        <span class="car-view-detail-value">2018</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Type</span>
                        <span class="car-view-detail-value">Gasoline</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Capacity</span>
                        <span class="car-view-detail-value">1.8L</span>
                    </div>
                </div>
            </div>
            <div class="car-view">
                <div class="car-view-header">
                    <span class="car-view-name">Toyota</span>
                    <span class="car-view-price">100$/month</span>
                </div>
                <img class="car-view-image" src="https://firebasestorage.googleapis.com/v0/b/rentacar-qmt96z.appspot.com/o/users%2FWJDm3DRdBNWuHs5v8lHSS0IcGfk1%2Fuploads%2F1722427091055000_3.jpg?alt=media&token=67e674f4-e60c-4c16-98e8-72f31a9fab17">
                <div class="car-view-details">
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Year</span>
                        <span class="car-view-detail-value">2018</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Type</span>
                        <span class="car-view-detail-value">Gasoline</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Capacity</span>
                        <span class="car-view-detail-value">1.8L</span>
                    </div>
                </div>
            </div>
            <div class="car-view">
                <div class="car-view-header">
                    <span class="car-view-name">Toyota</span>
                    <span class="car-view-price">100$/month</span>
                </div>
                <img class="car-view-image" src="https://firebasestorage.googleapis.com/v0/b/rentacar-qmt96z.appspot.com/o/users%2FWJDm3DRdBNWuHs5v8lHSS0IcGfk1%2Fuploads%2F1722427091055000_3.jpg?alt=media&token=67e674f4-e60c-4c16-98e8-72f31a9fab17">
                <div class="car-view-details">
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Year</span>
                        <span class="car-view-detail-value">2018</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Type</span>
                        <span class="car-view-detail-value">Gasoline</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Capacity</span>
                        <span class="car-view-detail-value">1.8L</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="car-category-header">
        <h3 id="car-category-hybrid">Hybrid</h3>
        <div class="car-slider-controls">
            <button class="car-slider-button" onclick="scrollCars('left', 'hybrid')">‹</button>
            <button class="car-slider-button" onclick="scrollCars('right', 'hybrid')">›</button>
        </div>
        <button class="car-category-all">SEE ALL</button>
    </div>

    <div class="car-slider-container" id="hybrid-slider">
        <div class="car-slider">
            <div class="car-view">
                <div class="car-view-header">
                    <span class="car-view-name">Toyota</span>
                    <span class="car-view-price">100$/month</span>
                </div>
                <img class="car-view-image" src="https://firebasestorage.googleapis.com/v0/b/rentacar-qmt96z.appspot.com/o/users%2FWJDm3DRdBNWuHs5v8lHSS0IcGfk1%2Fuploads%2F1722427091055000_3.jpg?alt=media&token=67e674f4-e60c-4c16-98e8-72f31a9fab17">
                <div class="car-view-details">
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Year</span>
                        <span class="car-view-detail-value">2018</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Type</span>
                        <span class="car-view-detail-value">Hybrid</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Capacity</span>
                        <span class="car-view-detail-value">1.8L</span>
                    </div>
                </div>
            </div>
            <div class="car-view">
                <div class="car-view-header">
                    <span class="car-view-name">Toyota</span>
                    <span class="car-view-price">100$/month</span>
                </div>
                <img class="car-view-image" src="https://firebasestorage.googleapis.com/v0/b/rentacar-qmt96z.appspot.com/o/users%2FWJDm3DRdBNWuHs5v8lHSS0IcGfk1%2Fuploads%2F1722427091055000_3.jpg?alt=media&token=67e674f4-e60c-4c16-98e8-72f31a9fab17">
                <div class="car-view-details">
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Year</span>
                        <span class="car-view-detail-value">2018</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Type</span>
                        <span class="car-view-detail-value">Hybrid</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Capacity</span>
                        <span class="car-view-detail-value">1.8L</span>
                    </div>
                </div>
            </div>
            <div class="car-view">
                <div class="car-view-header">
                    <span class="car-view-name">Toyota</span>
                    <span class="car-view-price">100$/month</span>
                </div>
                <img class="car-view-image" src="https://firebasestorage.googleapis.com/v0/b/rentacar-qmt96z.appspot.com/o/users%2FWJDm3DRdBNWuHs5v8lHSS0IcGfk1%2Fuploads%2F1722427091055000_3.jpg?alt=media&token=67e674f4-e60c-4c16-98e8-72f31a9fab17">
                <div class="car-view-details">
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Year</span>
                        <span class="car-view-detail-value">2018</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Type</span>
                        <span class="car-view-detail-value">Hybrid</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Capacity</span>
                        <span class="car-view-detail-value">1.8L</span>
                    </div>
                </div>
            </div>
            <div class="car-view">
                <div class="car-view-header">
                    <span class="car-view-name">Toyota</span>
                    <span class="car-view-price">100$/month</span>
                </div>
                <img class="car-view-image" src="https://firebasestorage.googleapis.com/v0/b/rentacar-qmt96z.appspot.com/o/users%2FWJDm3DRdBNWuHs5v8lHSS0IcGfk1%2Fuploads%2F1722427091055000_3.jpg?alt=media&token=67e674f4-e60c-4c16-98e8-72f31a9fab17">
                <div class="car-view-details">
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Year</span>
                        <span class="car-view-detail-value">2018</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Type</span>
                        <span class="car-view-detail-value">Hybrid</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Capacity</span>
                        <span class="car-view-detail-value">1.8L</span>
                    </div>
                </div>
            </div>
            <div class="car-view">
                <div class="car-view-header">
                    <span class="car-view-name">Toyota</span>
                    <span class="car-view-price">100$/month</span>
                </div>
                <img class="car-view-image" src="https://firebasestorage.googleapis.com/v0/b/rentacar-qmt96z.appspot.com/o/users%2FWJDm3DRdBNWuHs5v8lHSS0IcGfk1%2Fuploads%2F1722427091055000_3.jpg?alt=media&token=67e674f4-e60c-4c16-98e8-72f31a9fab17">
                <div class="car-view-details">
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Year</span>
                        <span class="car-view-detail-value">2018</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Type</span>
                        <span class="car-view-detail-value">Hybrid</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Capacity</span>
                        <span class="car-view-detail-value">1.8L</span>
                    </div>
                </div>
            </div>
            <div class="car-view">
                <div class="car-view-header">
                    <span class="car-view-name">Toyota</span>
                    <span class="car-view-price">100$/month</span>
                </div>
                <img class="car-view-image" src="https://firebasestorage.googleapis.com/v0/b/rentacar-qmt96z.appspot.com/o/users%2FWJDm3DRdBNWuHs5v8lHSS0IcGfk1%2Fuploads%2F1722427091055000_3.jpg?alt=media&token=67e674f4-e60c-4c16-98e8-72f31a9fab17">
                <div class="car-view-details">
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Year</span>
                        <span class="car-view-detail-value">2018</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Type</span>
                        <span class="car-view-detail-value">Hybrid</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Capacity</span>
                        <span class="car-view-detail-value">1.8L</span>
                    </div>
                </div>
            </div>
            <div class="car-view">
                <div class="car-view-header">
                    <span class="car-view-name">Toyota</span>
                    <span class="car-view-price">100$/month</span>
                </div>
                <img class="car-view-image" src="https://firebasestorage.googleapis.com/v0/b/rentacar-qmt96z.appspot.com/o/users%2FWJDm3DRdBNWuHs5v8lHSS0IcGfk1%2Fuploads%2F1722427091055000_3.jpg?alt=media&token=67e674f4-e60c-4c16-98e8-72f31a9fab17">
                <div class="car-view-details">
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Year</span>
                        <span class="car-view-detail-value">2018</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Type</span>
                        <span class="car-view-detail-value">Hybrid</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Capacity</span>
                        <span class="car-view-detail-value">1.8L</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="car-category-header">
        <h3 id="car-category-minivan">Minivan</h3>
        <div class="car-slider-controls">
            <button class="car-slider-button" onclick="scrollCars('left', 'minivan')">‹</button>
            <button class="car-slider-button" onclick="scrollCars('right', 'minivan')">›</button>
        </div>
        <button class="car-category-all">SEE ALL</button>
    </div>

    <div class="car-slider-container" id="minivan-slider">
        <div class="car-slider">
            <div class="car-view">
                <div class="car-view-header">
                    <span class="car-view-name">Toyota</span>
                    <span class="car-view-price">100$/month</span>
                </div>
                <img class="car-view-image" src="https://firebasestorage.googleapis.com/v0/b/rentacar-qmt96z.appspot.com/o/users%2FWJDm3DRdBNWuHs5v8lHSS0IcGfk1%2Fuploads%2F1722427091055000_3.jpg?alt=media&token=67e674f4-e60c-4c16-98e8-72f31a9fab17">
                <div class="car-view-details">
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Year</span>
                        <span class="car-view-detail-value">2018</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Type</span>
                        <span class="car-view-detail-value">Minivan</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Capacity</span>
                        <span class="car-view-detail-value">1.8L</span>
                    </div>
                </div>
            </div>
            <div class="car-view">
                <div class="car-view-header">
                    <span class="car-view-name">Toyota</span>
                    <span class="car-view-price">100$/month</span>
                </div>
                <img class="car-view-image" src="https://firebasestorage.googleapis.com/v0/b/rentacar-qmt96z.appspot.com/o/users%2FWJDm3DRdBNWuHs5v8lHSS0IcGfk1%2Fuploads%2F1722427091055000_3.jpg?alt=media&token=67e674f4-e60c-4c16-98e8-72f31a9fab17">
                <div class="car-view-details">
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Year</span>
                        <span class="car-view-detail-value">2018</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Type</span>
                        <span class="car-view-detail-value">Minivan</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Capacity</span>
                        <span class="car-view-detail-value">1.8L</span>
                    </div>
                </div>
            </div>
            <div class="car-view">
                <div class="car-view-header">
                    <span class="car-view-name">Toyota</span>
                    <span class="car-view-price">100$/month</span>
                </div>
                <img class="car-view-image" src="https://firebasestorage.googleapis.com/v0/b/rentacar-qmt96z.appspot.com/o/users%2FWJDm3DRdBNWuHs5v8lHSS0IcGfk1%2Fuploads%2F1722427091055000_3.jpg?alt=media&token=67e674f4-e60c-4c16-98e8-72f31a9fab17">
                <div class="car-view-details">
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Year</span>
                        <span class="car-view-detail-value">2018</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Type</span>
                        <span class="car-view-detail-value">Minivan</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Capacity</span>
                        <span class="car-view-detail-value">1.8L</span>
                    </div>
                </div>
            </div>
            <div class="car-view">
                <div class="car-view-header">
                    <span class="car-view-name">Toyota</span>
                    <span class="car-view-price">100$/month</span>
                </div>
                <img class="car-view-image" src="https://firebasestorage.googleapis.com/v0/b/rentacar-qmt96z.appspot.com/o/users%2FWJDm3DRdBNWuHs5v8lHSS0IcGfk1%2Fuploads%2F1722427091055000_3.jpg?alt=media&token=67e674f4-e60c-4c16-98e8-72f31a9fab17">
                <div class="car-view-details">
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Year</span>
                        <span class="car-view-detail-value">2018</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Type</span>
                        <span class="car-view-detail-value">Minivan</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Capacity</span>
                        <span class="car-view-detail-value">1.8L</span>
                    </div>
                </div>
            </div>
            <div class="car-view">
                <div class="car-view-header">
                    <span class="car-view-name">Toyota</span>
                    <span class="car-view-price">100$/month</span>
                </div>
                <img class="car-view-image" src="https://firebasestorage.googleapis.com/v0/b/rentacar-qmt96z.appspot.com/o/users%2FWJDm3DRdBNWuHs5v8lHSS0IcGfk1%2Fuploads%2F1722427091055000_3.jpg?alt=media&token=67e674f4-e60c-4c16-98e8-72f31a9fab17">
                <div class="car-view-details">
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Year</span>
                        <span class="car-view-detail-value">2018</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Type</span>
                        <span class="car-view-detail-value">Minivan</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Capacity</span>
                        <span class="car-view-detail-value">1.8L</span>
                    </div>
                </div>
            </div>
            <div class="car-view">
                <div class="car-view-header">
                    <span class="car-view-name">Toyota</span>
                    <span class="car-view-price">100$/month</span>
                </div>
                <img class="car-view-image" src="https://firebasestorage.googleapis.com/v0/b/rentacar-qmt96z.appspot.com/o/users%2FWJDm3DRdBNWuHs5v8lHSS0IcGfk1%2Fuploads%2F1722427091055000_3.jpg?alt=media&token=67e674f4-e60c-4c16-98e8-72f31a9fab17">
                <div class="car-view-details">
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Year</span>
                        <span class="car-view-detail-value">2018</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Type</span>
                        <span class="car-view-detail-value">Minivan</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Capacity</span>
                        <span class="car-view-detail-value">1.8L</span>
                    </div>
                </div>
            </div>
            <div class="car-view">
                <div class="car-view-header">
                    <span class="car-view-name">Toyota</span>
                    <span class="car-view-price">100$/month</span>
                </div>
                <img class="car-view-image" src="https://firebasestorage.googleapis.com/v0/b/rentacar-qmt96z.appspot.com/o/users%2FWJDm3DRdBNWuHs5v8lHSS0IcGfk1%2Fuploads%2F1722427091055000_3.jpg?alt=media&token=67e674f4-e60c-4c16-98e8-72f31a9fab17">
                <div class="car-view-details">
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Year</span>
                        <span class="car-view-detail-value">2018</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Type</span>
                        <span class="car-view-detail-value">Minivan</span>
                    </div>
                    <div class="car-view-detail">
                        <span class="car-view-detail-name">Capacity</span>
                        <span class="car-view-detail-value">1.8L</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button id="car-show-all">SHOW ALL CARS</button>

    <h2>Statistics</h2>
    <div id="statistics">
        <div class="statistic">
            <div class="statistic-value" data-target="{{ target_clients }}" data-duration="{{ stats_duration }}">0</div>
            <div class="statistic-title">clients served</div>
        </div>
        <div class="statistic">
            <div class="statistic-value" data-target="{{ target_contracts }}" data-duration="{{ stats_duration }}">0</div>
            <div class="statistic-title">active contracts</div>
        </div>
        <div class="statistic">
            <div class="statistic-value" data-target="{{ target_cars }}" data-duration="{{ stats_duration }}">0</div>
            <div class="statistic-title">cars in fleet</div>
        </div>
        <div class="statistic">
            <div class="statistic-value" data-target="{{ target_new }}" data-duration="{{ stats_duration }}">0</div>
            <div class="statistic-title">new clients (this month)</div>
        </div>
    </div>
    <h2>Reviews</h2>
</div>

{% endblock %}